body {
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

#contactInfo {
  font-style: normal;
}

#pictureOfSally {
  width: 300px;
}

/* MEDIUM - For device-widths 800px to 1023px: */

@media screen and (min-width: 800px) {
  #pictureOfSally {
    width: 300px;
  }
}

/* LARGE - For device-widths 1024 and higher: */

@media screen and (min-width: 1024px) {
  #pictureOfSally {
    width: 400px;
  }
}
